<section id="banner" class="major">
  <div class="inner">
    <header class="major">
      <h1>{{title}}</h1>
      <h1>{{subtitle}}</h1>
      <h2>{{ 'ABOUT.TITLE' | translate }}</h2>
    </header>
  </div>
</section>

<div class="about-text">
  <p>Demasteel S.r.l. è nata il 15 ottobre 2015<br>
    con l’obiettivo di offrire un servizio personalizzato alle aziende italiane che si occupano della lavorazione di fili metallici e barre.<br>
    Grazie alla collaborazione stretta con gruppi mondiali leader del mercato,<br>
    il core business di Demasteel è l’offerta di prodotti di qualità certificata, in tempi brevi,<br>
    svincolata dall’ordine di quantitativi minimi e non necessariamente periodici.<br>
    Specializzandosi nelle forniture medio piccole,<br>
    Demasteel si propone ad una clientela mirata garantendo un servizio celere e puntuale.
  </p>
</div>
