<section id="contact-section">
  <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zm" [scrollwheel]="mapW" [styles]="style">
    <sebm-google-map-circle [latitude]="lat" [longitude]="lng"
          [radius]="2000"
          [fillColor]="'#7ED321'"
          [fillOpacity]="1.0">
      </sebm-google-map-circle>

      <sebm-google-map-circle [latitude]="lat2" [longitude]="lng2"
          [radius]="2000"
          [fillColor]="'#7ED321'"
          [fillOpacity]="1.0">
      </sebm-google-map-circle>

      <sebm-google-map-circle [latitude]="lat3" [longitude]="lng3"
          [radius]="2000"
          [fillColor]="'#7ED321'"
          [fillOpacity]="1.0">
      </sebm-google-map-circle>

  </sebm-google-map>

  <div class="row address-map">
    <div class="col-sm-offset-7 col-sm-5 address-map-view">
      <h3>UFFICIO</h3>
      <p>Via Carlo Baslini 10 Merate (Lc) cap 23807</p>
      <h3>SEDE LEGALE</h3>
      <p>Via Stoppani Sn Calolziocorte (Lc) cap 23801</p>
      <h3>MAGAZZINO</h3>
      <p>Via Prada 11 Beverate di Brivio (Lc) cap 23883</p>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="col-sm-12">
        <p>P.IVA:   03611730130</p>
        <p>TEL e Fax:   +39 039 9908183</p>
        <a href="mailto:info@demasteel.com?subject=Hello!"><span>Per informazioni contattaci qui:</span>info@demasteel.com</a>
      </div>
    </div>
  </div>

</section>



