<section id="product-section">
  <h3 class="title">PRODOTTI</h3>
  <div class="container">
    <accordion [closeOthers]="oneAtATime">
      <accordion-group #group1>
        <div accordion-heading class="h-accordion">
          <img src="../../../assets/images/fili-fosfatati.png">
          <h3>FILI ACCIAIO AL CARBONIO FOSFATATI<span> da Ø 0,70 mm a Ø 15,00 mm in classe SL / SM / SH / DH</span></h3>
          <i class="pull-right float-xs-right glyphicon"
          [ngClass]="{'glyphicon-menu-up': group1?.isOpen, 'glyphicon-menu-down': !group1?.isOpen}"></i>
        </div>
        <p>Tra i vari fili metallici prodotti dall’azienda, uno dei fiori all’occhiello è sicuramente la produzione di fili fosfatati, ovvero fili metallici che hanno subito il processo di patentamento e fosfatazione.</p>
        <br>
        <h4>COS’È LA FOSFATAZIONE</h4>
        <p>La fosfatazione è un processo chimico attraverso cui la superficie dei fili o vergelle, prima della trafilatura, dopo il decapaggio chimico, vengono rivestiti da cristalli fosfatici legati in modo chimico al substrato. </p>
        <p>Generalmente per:</p>
        <ul>
          <li>sfruttare le proprietà dei composti</li>
          <li>migliorare la lavorabilità del materiale</li>
          <li>favorire l'adesione all’eventuale successiva verniciatura</li>
        </ul>
        <p>Il processo di fosfatazione viene comunemente utilizzato per elementi in ferro o leghe ferrose, ed è ad esempio il trattamento di preparazione necessario alla verniciatura della lamiera di acciaio nell’industria automobilistica.</p>
        <br>
        <h4>PERCHÉ SCEGLIERE I FILI FOSFATATI</h4>
        <p>Il cliente potrà rivolgersi a Trafileria Lecchese per qualsiasi informazione o richiesta preventivi riguardo i fili fosfatati: lo staff sarà lieto di fornire consulenza alla clientela e cercare di rispondere alle diverse necessità ed esigenze.</p>
        <hr>
        <p>Confezioni: <a href="http://www.trafilerialecchese.com/bobine-matasse-rocchetti" target="blank">Vedi Link</a></p>
        <p>MONOFORNITORE: TRAFILERIA LECCHESE - Olginate (LC)</p>
        <button class="btn btn-default btn-scheda" (click)="lgModal.show()">SCHEDA TECNICA</button>
      </accordion-group>

      <accordion-group #group2>
        <div accordion-heading class="h-accordion">
          <img src="../../../assets/images/fili-zincati.png">
          <h3>FILI ACCIAIO AL CARBONIO ZINCATI<span> da Ø 0,70 mm a Ø 8,00 mm in classe SL / SM / SH / DH</span></h3>
          <i class="pull-right float-xs-right glyphicon"
          [ngClass]="{'glyphicon-menu-up': group2?.isOpen, 'glyphicon-menu-down': !group2?.isOpen}"></i>
        </div>
        <p>Il filo zincato viene impiegato nei più diversi comparti produttivi perché dotato di caratteristiche tali che lo rendono resistente ed affidabile nel tempo, in particolare il suo impiego è particolarmente diffuso nel:</p>
        <ul>
          <li>settore automobilistico</li>
          <li>settore funi metalliche</li>
          <li>settori industriali con vari impieghi</li>
        </ul>
        <p>Il filo zincato viene infatti spesso impiegato per costruire recinzioni ed è quindi necessario che sia realizzato con sapienza e professionalità, in modo da soddisfare le esigenze della clientela.</p>
        <br>
        <h4>LAVORAZIONE FILI ZINCATI</h4>
        <p>Come gli altri tipi di fili metallici prodotti, anche il filo zincato può essere impiegato per molle meccaniche, funi, armature tubi, rivetti e raggi. Si effettuano lavorazioni filo zincato su misura e personalizzate.</p>
        <hr>
        <p>Confezioni: <a href="http://www.trafilerialecchese.com/bobine-matasse-rocchetti" target="blank">Vedi Link</a></p>
        <p>MONOFORNITORE: TRAFILERIA LECCHESE - Olginate (LC)</p>
        <button class="btn btn-default btn-scheda" (click)="lgModal.show()">SCHEDA TECNICA</button>
      </accordion-group>

      <accordion-group #group3>
        <div accordion-heading class="h-accordion">
          <img src="../../../assets/images/fili-zincati.png">
          <h3>FILI ZINCO E ALLUMINIO<span> da Ø 0,70 mm a Ø 8,00 mm in classe SL / SM / SH / DH</span></h3>
          <i class="pull-right float-xs-right glyphicon"
          [ngClass]="{'glyphicon-menu-up': group3?.isOpen, 'glyphicon-menu-down': !group3?.isOpen}"></i>
        </div>
        <h4>ZINCO E ALLUMINIO ALLEATI CONTRO LA CORROSIONE</h4>
        <p>Il nemico numero uno dei fili utilizzati nei vari contesti produttivi è sicuramente la corrosione, ovvero quel processo naturale ed irreversibile di consultazione del materiale che ne compromette le caratteristiche e proprietà. Tutti i materiali ne sono soggetti ed è compito delle aziende studiare e progettare prodotti che possano resistere alla prova del tempo, sia atmosferico che annuale. Per quanto riguarda i fili metallici, una soluzione alla corrosione è arrivata dalla produzione di fili in zinco alluminio, una particolare lega con proprietà di:</p>
        <ul>
          <li>lavorabilità</li>
          <li>anti corrosione</li>
          <li>mantenimento delle caratteristiche originali</li>
        </ul>
        <br>
        <h4>FILI IN ZINCO E ALLUMINIO RESISTENTI E DURATURI NEL TEMPO</h4>
        <p>Progettazione e realizzazione di fili in zinco e alluminio possono essere utilizzati per la produzione di tutti quei particolari sottoposti a condizioni di lavoro influenzati da agenti ossidanti. In che modo? L'alluminio ha tempi di corrosione più lunghi dello zinco che offre una protezione all'acciaio: in caso di danneggiamento del rivestimento gli ossidi di zinco ricoprono quindi la parte di acciaio che si è danneggiata. L'unione dei due elementi, zinco e alluminio, è anche l'unione dei singolo vantaggi: migliore resistenza alla corrosione dell'alluminio e maggiore protezione dello zinco.</p>
        <hr>
        <p>Confezioni: <a href="http://www.trafilerialecchese.com/bobine-matasse-rocchetti" target="blank">Vedi Link</a></p>
        <p>MONOFORNITORE: TRAFILERIA LECCHESE - Olginate (LC)</p>
        <button class="btn btn-default btn-scheda" (click)="lgModal.show()">SCHEDA TECNICA</button>
      </accordion-group>

      <accordion-group #group4>
        <div accordion-heading class="h-accordion">
          <img src="../../../assets/images/fili-pretemprati.png">
          <h3>FILI ACCIAIO PRETEMPRATI</h3>
          <i class="pull-right float-xs-right glyphicon"
          [ngClass]="{'glyphicon-menu-up': group4?.isOpen, 'glyphicon-menu-down': !group4?.isOpen}"></i>
        </div>
        <p>A disposizione una serie di fili pretemprati di varie tipologie. Altre qualità disponibili a commessa.</p>
         <ul>
          <li>P811 da Ø 0,40 mm a 7,00 mm</li>
          <li>P843 da Ø 0,40 mm a 6,50 mm</li>
          <li>P854 da Ø 0,40 mm a 6,50 mm</li>
        </ul>
        <hr>
        <p>MONOFORNITORE: JOH. PENGG AG (Austria)</p>
        <button class="btn btn-default btn-scheda" (click)="lgModal.show()">SCHEDA TECNICA</button>
      </accordion-group>

      <accordion-group #group4b>
        <div accordion-heading class="h-accordion">
          <img src="../../../assets/images/fili-inossidabili.jpg">
          <h3>FILI ACCIAIO INOSSIDABILE</h3>
          <i class="pull-right float-xs-right glyphicon"
          [ngClass]="{'glyphicon-menu-up': group4b?.isOpen, 'glyphicon-menu-down': !group4b?.isOpen}"></i>
        </div>
        <p>A disposizione una serie di tipologie di acciaio inossidabili per molle ed usi generali nei vari casi</p>
         <ul>
          <li>Gamma diametrale: da Ø 0,4 mm a 10,00 mm</li>
        </ul>
        <hr>
        <button class="btn btn-default btn-scheda" (click)="lgModal.show()">SCHEDA TECNICA</button>
      </accordion-group>

      <accordion-group #group5>
        <div accordion-heading class="h-accordion">
          <img src="../../../assets/images/prodotti-barre.jpg">
          <h3>BARRE ROTONDE</h3>
          <i class="pull-right float-xs-right glyphicon"
          [ngClass]="{'glyphicon-menu-up': group5?.isOpen, 'glyphicon-menu-down': !group5?.isOpen}"></i>
        </div>
        <h4>GAMMA</h4>
        <p>da 1.50 mm a 100 mm</p>
        <h4>FINITURA</h4>
        <p>Laminate, trafilate lucide, sgrossate di rettifica, rettificate lucide</p>
        <h4>TOLLERANZE</h4>
        <p>k11 - k13, h9 - h11, h9, h6 - h7 - h8 - h9</p>
      </accordion-group>

      <accordion-group #group6>
        <div accordion-heading class="h-accordion">
          <img src="../../../assets/images/prodotti-barre.jpg">
          <h3>BARRE QUADRE</h3>
          <i class="pull-right float-xs-right glyphicon"
          [ngClass]="{'glyphicon-menu-up': group6?.isOpen, 'glyphicon-menu-down': !group6?.isOpen}"></i>
        </div>
        <h4>GAMMA</h4>
        <p>da 2 mm a 50 mm</p>
        <h4>FINITURA</h4>
        <p>Laminate, trafilate lucide, trafilate smerigliate</p>
        <h4>TOLLERANZE</h4>
        <p>h9 - h11</p>
      </accordion-group>

      <accordion-group #group7>
        <div accordion-heading class="h-accordion">
          <img src="../../../assets/images/prodotti-barre.jpg">
          <h3>BARRE ESAGONALI</h3>
          <i class="pull-right float-xs-right glyphicon"
          [ngClass]="{'glyphicon-menu-up': group7?.isOpen, 'glyphicon-menu-down': !group7?.isOpen}"></i>
        </div>
        <h4>GAMMA</h4>
        <p>da 2 mm a 50 mm</p>
        <h4>FINITURA</h4>
        <p>Laminate, trafilate lucide, trafilate smerigliate</p>
        <h4>TOLLERANZE</h4>
        <p>h9 - h11</p>
      </accordion-group>

      <accordion-group #group8>
        <div accordion-heading class="h-accordion">
          <img src="../../../assets/images/prodotti-barre.jpg">
          <h3>BARRE PIATTE A SPIGOLI VIVI O BORDI ARROTONDATI</h3>
          <i class="pull-right float-xs-right glyphicon"
          [ngClass]="{'glyphicon-menu-up': group8?.isOpen, 'glyphicon-menu-down': !group8?.isOpen}"></i>
        </div>
        <h4>GAMMA</h4>
        <p>da 4 x 1 mm a 120 x 30 mm</p>
        <h4>FINITURA</h4>
        <p>Laminate, trafilate lucide, trafilate smerigliate</p>
        <h4>TOLLERANZE</h4>
        <p>h11</p>
      </accordion-group>

      <accordion-group #group9>
        <div accordion-heading class="h-accordion">
          <img src="../../../assets/images/prodotti-barre.jpg">
          <h3>BARRE TRIANGOLARI - STELLARI</h3>
          <i class="pull-right float-xs-right glyphicon"
          [ngClass]="{'glyphicon-menu-up': group9?.isOpen, 'glyphicon-menu-down': !group9?.isOpen}"></i>
        </div>
        <h4>GAMMA</h4>
        <p>da 1 mm a 9 mm di lato</p>
        <h4>FINITURA</h4>
        <p>Trafilate lucide</p>
        <h4>TOLLERANZE</h4>
        <p>h11</p>
      </accordion-group>

      <accordion-group #group10>
        <div accordion-heading class="h-accordion">
          <img src="../../../assets/images/prodotti-barre.jpg">
          <h3>BARRE PER USO STRUTTURALE (nervati)</h3>
          <i class="pull-right float-xs-right glyphicon"
          [ngClass]="{'glyphicon-menu-up': group10?.isOpen, 'glyphicon-menu-down': !group10?.isOpen}"></i>
        </div>
        <h4>GAMMA</h4>
        <p>da 3 mm a 30 mm</p>
        <h4>FINITURA</h4>
        <p>Laminati a freddo</p>
        <h4>TOLLERANZE</h4>
        <p>Norme UNI</p>
      </accordion-group>

    </accordion>


<!-- SHEDA TECNICA -->
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">SCHEDA TECNICA</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Spiacenti dati non ancora disponibili.
      </div>
    </div>
  </div>
</div>


  </div>
</section>
